option_settings:
  aws:elasticbeanstalk:container:php:phpini:
    document_root: /public

container_commands:
  01_run_migrations:
    command: "php artisan migrate --force"
    leader_only: true
  02_cache_config:
    command: "php artisan config:cache"
  03_cache_routes:
    command: "php artisan route:cache"
  04_cache_views:
    command: "php artisan view:cache"
  05_set_permissions:
    command: "chmod -R 775 storage bootstrap/cache && chown -R webapp:webapp storage bootstrap/cache"
