option_settings:
  aws:elasticbeanstalk:application:environment:
    APP_ENV: production
    APP_DEBUG: "false"
    DB_CONNECTION: mysql
    CACHE_DRIVER: file
    SESSION_DRIVER: file
    QUEUE_CONNECTION: database
    LOG_CHANNEL: stack
    COMPOSER_HOME: /root

files:
  "/etc/php.d/99_laravel.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      memory_limit = 256M
      upload_max_filesize = 10M
      post_max_size = 10M
      max_execution_time = 300
      max_input_time = 300
      date.timezone = UTC
