packages:
  yum:
    httpd24: []
    php8.3: []
    php8.3-mbstring: []
    php8.3-opcache: []
    php8.3-pdo: []
    php8.3-xml: []
    php8.3-json: []
    php8.3-gd: []
    php8.3-zip: []
    php8.3-bcmath: []
    php8.3-intl: []
    php8.3-mysqlnd: []
    mysql80: []
    mod_ssl: []

files:
  "/etc/httpd/conf.d/laravel.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      DocumentRoot /public
      <Directory /public>
          AllowOverride All
          Require all granted
      </Directory>
      ErrorLog /var/log/httpd/laravel_error.log
      CustomLog /var/log/httpd/laravel_access.log combined
